<div class="modal-header">
  <h3>Revisions of current script:</h3>
</div>
<div class="modal-body">
  <div class="gridStyle" ng-grid="gridOptions">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="forkSelected(selectedRevisions[0])">
    <span class="glyphicon glyphicon-share"></span>
    Fork selected
  </button>
  <button class="btn btn-primary" ng-click="loadSelected(selectedRevisions[0])">Load selected</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>