.starter-template {
    padding: 60px 15px;
}

span.token {
    font-size: 13px;
}

span.token .remove-button {
    margin-right: 4px;
    margin-left: 7px;
}

div.tokens {
    margin-bottom: 9px;
}

div.tokens li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.param .remove-param {
    display: none;
}

.param:hover .remove-param {
    display: block;
}

ul.params {
    margin-bottom: 3px;
}

div.param-wrapper {
    margin-bottom: 8px;
}