.starter-template {
    padding: 60px 15px;
}

.section.circumstances {
    background-color: #c8e5bc;
}

.section.analytical {
    background-color: #336699;
}

.section.synthetic {
    background-color: #009998;
}

.section h1 {
    text-align: center;
}

span.token {
    font-size: 13px;
}

span.token .remove-button {
    margin-right: 4px;
    margin-left: 7px;
}

div.tokens {
    margin-bottom: 9px;
}

div.tokens li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.param .remove-param {
    display: none;
}

.param:hover .remove-param {
    display: block;
}

ul.params {
    margin-bottom: 3px;
}

div.param-wrapper {
    margin-bottom: 8px;
}

.token-add .dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.token-suggestion-match {
    margin-top: 15px;
}

.token-suggestion-match .forms {
    max-width: 550px;
    overflow-x: auto;
    padding-left: 14px;
    padding-top: 7px;
    margin-left: 45px;
    margin-top: 7px;
}

.token-suggestion-match .forms ul {
    padding-bottom: 10px;
}

.badge.badge-warning {
    background-color: #efb73e;
}

.badge.badge-success.inverse {
    color: #38b44a;
    background-color: #FFFFFF;
}

.token-id {
    margin-left: 17px;
}
