<div>
  <accordion close-others="false">
    <!-- TODO vucalur: refactor this repeating pattern: is-open attribute, then repeating code for chevrons  - wrap with directive -->
    <!-- TODO vucalur: check out ngInit and isOpen priorities, phases (postLink, preLink) to fully understand why this solution works ;-) -->
    <accordion-group class="section" ng-class="sectionName" ng-repeat="sectionName in ctrl.getSectionsNames()" is-open="isSectionOpen" ng-init="isSectionOpen = true">
      <accordion-heading>
        <h1 class="section-header">
          {{ sectionName | capitalise }}
          <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isSectionOpen, 'glyphicon-chevron-right': !isSectionOpen}"></span>
        </h1>
      </accordion-heading>

      <h4>Parameters:</h4>
      <parameters params="script[sectionName].params"></parameters>
      <br>
      <h4>Sentences:</h4>

      <accordion close-others="false">
        <accordion-group ng-repeat="sentence in script[sectionName].sentences track by $index" ng-init="sentenceIndex = $index" is-open="isSentenceOpen">
          <accordion-heading>
            <h4>
              {{ sentence.params.name }}
              <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isSentenceOpen, 'glyphicon-chevron-right': !isSentenceOpen}"></span>
            </h4>
          </accordion-heading>

          <div class="sentence">
            <h4>Parameters:</h4>
            <parameters params="sentence.params"></parameters>

            <br>
            <h4>Slots:</h4>
            <accordion close-others="false">
              <accordion-group ng-repeat="slot in sentence.slots" ng-init="slotIndex = $index" is-open="isSlotOpen">
                <accordion-heading>
                  <h4>
                    {{ slot.params.name }}
                    <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isSlotOpen, 'glyphicon-chevron-right': !isSlotOpen}"></span>
                  </h4>
                </accordion-heading>

                <div class="slot" ng-controller="SlotCtrl as slotCtrl">
                  <h4>Parameters:</h4>
                  <parameters params="slot.params"></parameters>

                  <h4>Tokens:</h4>

                  <div class="tokens">
                    <ul class="list-inline" ui-sortable ng-model="slot.tokens">
                      <li ng-repeat="token in slot.tokens track by $index" ng-init="tokenIndex = $index">
                        <!--TODO vucalur: fix pointy corners of the label-->
                        <span class="token label label-info">{{ token.label }} <span class="remove-token-button glyphicon glyphicon-remove-circle" ng-click="slotCtrl.removeToken(tokenIndex)"></span></span>
                      </li>
                    </ul>
                  </div>

                  <form class="form-inline" role="form" ng-submit="slotCtrl.addToken()">
                    <div class="form-group token-add">
                      <label class="sr-only" for="token-autocomplete">Token</label>
                      <input type="text" id="token-autocomplete" class="form-control" placeholder="token"
                             ng-model="token"
                             typeahead="suggestion as suggestion.base for suggestion in slotCtrl.getTokens($viewValue)"
                             typeahead-min-length="3"
                             typeahead-wait-ms="500"
                             typeahead-template-url="template/OUR/edit/tokenAutocomplete/typeahead-match.html">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </form>
                  <br/>
                </div>
                <div>
                  <button class="btn btn-danger remove-button" ng-click="ctrl.removeSlot(sectionName, sentenceIndex, slotIndex)">
                    Remove slot <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </accordion-group>
            </accordion>
            <button class="btn btn-success add-button" ng-click="ctrl.addSlot(sectionName, sentenceIndex)">
              <span class="glyphicon glyphicon-th-list"></span> Add slot
            </button>
          </div>
          <button class="btn btn-danger remove-button" ng-click="ctrl.removeSentence(sectionName, sentenceIndex)">
            Remove sentence <span class="glyphicon glyphicon-remove"></span>
          </button>
        </accordion-group>
      </accordion>

      <button class="btn btn-success add-button" ng-click="ctrl.addSentence(sectionName)">
        <span class="glyphicon glyphicon-log-in"></span> Add sentence
      </button>

    </accordion-group>
  </accordion>

  <div id="script-actions-bar" class="navbar-default navbar-fixed-bottom" role="navigation">
    <!--TODO vucalur: ng-disabled not working ...-->
    <button class="btn btn-info" ng-click="ctrl.saveScript()"> <!--ng-disabled="!ctrl.canSave()">-->
      <span class="glyphicon glyphicon-save"></span> Save script
    </button>
    <button class="btn btn-info" ng-click="ctrl.openScriptsListModal()">
      <span class="glyphicon glyphicon-folder-open" style="margin-right: 3px;"></span> Show available scripts
    </button>
    <button class="btn btn-info" ng-click="ctrl.openScriptRevisionsModal()">
      <span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Show revisions
    </button>
  </div>
</div>
