<ul class="params list-inline">
  <div class="row">
    <li ng-repeat="(key, value) in params">
      <div class="param-wrapper col-lg-3">
        <div class="param input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input type="text" class="form-control" ng-model="params[key]">

          <div class="input-group-btn">
            <button class="remove-param btn btn-danger" type="button" ng-click="removeParam(key)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>
    </li>
  </div>
</ul>

<form class="form-inline" role="form" name="addParamForm" ng-submit="addParam()" ng-class="getCssClasses(addParamForm)">
  <div class="form-group">
    <label class="sr-only">Param key</label>
    <input type="text" class="form-control" name="key" placeholder="Param key" ng-model="key" required>
  </div>
  <div class="form-group">
    <label class="sr-only">Param value</label>
    <input type="text" class="form-control" name="value" placeholder="Param value" ng-model="value" required>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="!canAdd()">Add</button>
</form>