<div class="modal-body">
  <h3>Provide filename for new fork:</h3>
</div>
<div class="modal-footer">
  <form class="form-inline pull-left" role="form">
    <div class="form-group">
      <label class="sr-only">Filename for new fork</label>
      <input type="text" class="form-control" placeholder="Filename for new fork" ng-model="forkFileName">
    </div>
    <button class="btn btn-info" ng-disabled="forkFileName == undefined || forkFileName === ''" ng-click="choose(forkFileName)">
      <span class="glyphicon glyphicon-share"></span> Create
    </button>
  </form>
</div>