<ul class="list-inline">
  <li ng-repeat="(key, value) in params">
    <div class="input-group">
      <span class="input-group-addon">{{ key }}</span>
      <input type="text" class="form-control" value="{{ value }}">
      <span class="input-group-addon btn btn-danger" ng-click="removeParam(key)"><span class="glyphicon glyphicon-remove"></span></span>
    </div>
  </li>
</ul>

<form class="form-inline" role="form" ng-submit="addParam()">
  <div class="form-group">
    <label class="sr-only" for="key">Param key</label>
    <input type="text" class="form-control" id="key" placeholder="Param key" ng-model="key">
  </div>
  <div class="form-group">
    <label class="sr-only" for="value">Param value</label>
    <input type="text" class="form-control" id="value" placeholder="Param value" ng-model="value">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>