<!--TODO vucalur: Break this bulky html to separate views-->
<div class="script" ng-controller="ScriptCtrl as scriCtrl">

  <parameters params="script.params"></parameters>
  <ul class="list-unstyled">
    <li ng-repeat="section in script.sections">
      <div class="section">
        <h2>{{ section.type }}</h2>
        <h4>Parameters:</h4>
        <parameters params="section.params"></parameters>

        <br>
        <h4>Sentences:</h4>
        <ul class="list-inline">
          <li ng-repeat="sentence in section.sentences">
            <div class="sentence">
              <h3>{{ sentence.params.name }}</h3>
              <h4>Parameters:</h4>
              <parameters params="sentence.params"></parameters>

              <br>
              <h4>Slots:</h4>
              <ul class="list-inline">
                <li ng-repeat="slot in sentence.slots">
                  <div class="slot" ng-controller="SlotCtrl as slotCtrl">
                    <h4>Parameters:</h4>
                    <parameters params="slot.params"></parameters>

                    <h4>Tokens:</h4>

                    <div class="tokens">
                      <ul class="list-inline">
                        <li ng-repeat="token in slot.tokens track by $index">
                          <!--TODO vucalur: fix pointy corners of the label-->
                          <span class="token label label-info">{{ token.label }} <span class="remove-button glyphicon glyphicon-remove-circle" ng-click="slotCtrl.removeToken($index)"></span></span>
                        </li>
                      </ul>
                    </div>

                    <form class="form-inline" role="form" ng-submit="slotCtrl.addToken()">
                      <div class="form-group token-add">
                        <label class="sr-only" for="token-autocomplete">Token</label>
                        <input type="text" id="token-autocomplete" class="form-control" placeholder="token"
                               ng-model="token"
                               typeahead="suggestion as suggestion.base for suggestion in slotCtrl.getTokens($viewValue)"
                               typeahead-min-length="3"
                               typeahead-wait-ms="500"
                               typeahead-template-url="template/tokenAutocomplete/typeahead-match.html">
                      </div>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                    <br/>
                  </div>
                </li>
              </ul>

            </div>
          </li>
        </ul>

      </div>
    </li>
  </ul>

</div>
