<!--TODO vucalur: Break this bulky html to separate views-->
<!--TODO vucalur: fix DRY violation-->
<div class="script" ng-controller="ScriptCtrl as scriCtrl">
  <ul class="list-inline">
    <li ng-repeat="(key, value) in script.params">
      <div class="input-group">
        <span class="input-group-addon">{{ key }}</span>
        <input type="text" class="form-control" value="{{ value }}">
      </div>
    </li>
  </ul>

  <form class="form-inline" role="form" ng-submit="scriCtrl.addParam()">
    <div class="form-group">
      <label class="sr-only" for="key1">Param key</label>
      <input type="text" class="form-control" id="key1" placeholder="Param key" ng-model="key">
    </div>
    <div class="form-group">
      <label class="sr-only" for="value1">Param value</label>
      <input type="text" class="form-control" id="value1" placeholder="Param value" ng-model="value">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>


  <ul class="list-unstyled">
    <li ng-repeat="section in script.sections">
      <div class="section" ng-controller="SectionCtrl as secCtrl">
        <h2>{{ section.type }}</h2>
        <h4>Parameters:</h4>
        <ul class="list-inline">
          <li ng-repeat="(key, value) in section.params">
            <div class="input-group">
              <span class="input-group-addon">{{ key }}</span>
              <input type="text" class="form-control" value="{{ value }}">
            </div>
          </li>
        </ul>

        <form class="form-inline" role="form" ng-submit="secCtrl.addParam()">
          <div class="form-group">
            <label class="sr-only" for="key1">Param key</label>
            <input type="text" class="form-control" id="key1" placeholder="Param key" ng-model="key">
          </div>
          <div class="form-group">
            <label class="sr-only" for="value1">Param value</label>
            <input type="text" class="form-control" id="value1" placeholder="Param value" ng-model="value">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>


        <br>
        <h4>Sentences:</h4>
        <ul class="list-inline">
          <li ng-repeat="sentence in section.sentences">
            <div class="sentence" ng-controller="SentenceCtrl as senCtrl">
              <h3>{{ sentence.params.name }}</h3>
              <h4>Parameters:</h4>
              <ul class="list-inline">
                <li ng-repeat="(key, value) in sentence.params">
                  <div class="input-group">
                    <span class="input-group-addon">{{ key }}</span>
                    <input type="text" class="form-control" value="{{ value }}">
                  </div>
                </li>
              </ul>

              <form class="form-inline" role="form" ng-submit="senCtrl.addParam()">
                <div class="form-group">
                  <label class="sr-only" for="key1">Param key</label>
                  <input type="text" class="form-control" id="key1" placeholder="Param key" ng-model="key">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="value1">Param value</label>
                  <input type="text" class="form-control" id="value1" placeholder="Param value" ng-model="value">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>

              <br>
              <h4>Slots:</h4>
              <ul class="list-inline">
                <li ng-repeat="slot in sentence.slots">
                  <div class="slot" ng-controller="SlotCtrl as slotCtrl">
                    <h4>Parameters:</h4>
                    <ul class="list-inline">
                      <li ng-repeat="(key, value) in slot.params">
                        <div class="input-group">
                          <span class="input-group-addon">{{ key }}</span>
                          <input type="text" class="form-control" value="{{ value }}">
                        </div>
                      </li>
                    </ul>

                    <form class="form-inline" role="form" ng-submit="slotCtrl.addParam()">
                      <div class="form-group">
                        <label class="sr-only" for="key1">Param key</label>
                        <input type="text" class="form-control" id="key1" placeholder="Param key" ng-model="key">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="value1">Param value</label>
                        <input type="text" class="form-control" id="value1" placeholder="Param value" ng-model="value">
                      </div>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </form>


                    <div class="tokens">
                      <h4>Tokens:</h4>
                      <ul class="list-inline">
                        <li ng-repeat="token in slot.tokens track by $index">
                          <div class="input-group">
                            <span class="input-group-addon">{{ token }}</span>
                          </div>
                        </li>
                      </ul>

                      <form class="form-inline" role="form" ng-submit="slotCtrl.addToken()">
                        <div class="form-group">
                          <label class="sr-only" for="token">Token</label>
                          <input type="text" class="form-control" id="token" placeholder="Token" ng-model="token">
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </li>
        </ul>

      </div>
    </li>
  </ul>

</div>
